.certificate-card-inner{
  display: flex;
}

.no-certificates-img {
  margin: 0 auto;
  width: 100%;
  height: 10rem;
  background-image: url([[pix:theme|no_certificates]]);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.certificate-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url([[pix:theme|certificate_icon]]);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    font-size: 0.875rem;
  }
}
