.drawer.drawer-left {
  background-color: white;
  border-right: 1px solid #e7e7e7;
}
.drawercontent {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}
.courseindex {
  .nav-links {
    @include media-breakpoint-up(sm) {
      //margin: 0 1rem;
    }
    h2 {
      font-size: 1.125rem;
      background-color: #b7b7b7;
      padding: 0 1.25rem;
      margin-bottom: 0;
    }
    a {
      height: 40px;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      margin: 0.125rem;
    }
    a:hover {
      text-decoration: none !important;
      background-color: $primary;
      color: $white;
      border-radius: 0.5rem;
    }
    a.active {
      background-color: $primary;
      font-weight: 700;
      color: $white;
      border-radius: 0.5rem;
      .bi {
        color: $white;
      }
    }
  }
  a:not(.collapsed) {
    .bi-caret-right-fill {
      display: inline-block;
      transform: rotate(90deg);
      transition: 0.3s ease-in-out;
    }
  }
  a.collapsed {
    .bi-caret-right-fill {
      display: inline-block;
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }

  .courseindex-item {
    max-height: 42px;
    align-items: center;
  }
  .chapter-item {
    max-height: none;
  }

  .courseindex-link {
    display: flex;
    align-items: start;

    i {
      margin-right: 0.5rem;
    }
  }

  .index-infos {
    display: flex;
    align-items: center;
    margin-left: auto;

    .fa-lock {
      font-size: 1rem;
    }
  }
  .chapter-container {
    margin-left: 1.3rem;
  }
}

body:not(.editing) {
  .dragicon {
    display: none;
  }
}



.courseindex .courseindex-item.courseindex-section-title a {
  font-weight: normal;
}
.courseindex .courseindex-item.courseindex-section-title a.chapter {
  font-weight: bold;
}

.courseindex .courseindex-item.courseindex-section-title.pageitem a {
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}


[role="treeitem"]:not([aria-expanded="true"]):focus {
  box-shadow: none;
}

#theme_boost-drawers-courseindex a:hover {
  text-decoration: none !important;
}
.drawer-toggles .drawer-toggler {
  z-index: 551;
}
.drawercontent {
  height: calc(100% - 130px)
}