/* All the Icons */

.news-icon {
  &::before {
    font-family: bootstrap-icons;
    content: "\F4A3";
    font-size: 1.5rem;
    color: $primary;
    padding-right: 0.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
      padding-left: 0.5rem;
    }
  }
}
.start-icon {
  &::after {
    font-family: bootstrap-icons;
    content: "\F231";
    color: white;
    font-size: 1.25rem;
  }
}
.start-icon-topics {
  &::before {
    font-family: bootstrap-icons;
    content: "\F231";
    color: $primary;
    font-size: 1.25rem;
  }
}
.badges-icon {
  display: flex;
  justify-content: center;

  &::before {
    font-family: bootstrap-icons;
    content: "\F5E6";
    font-size: 1.25rem;
    color: $primary;
  }
}
.award-icon {
  display: flex;
  justify-content: center;

  &::before {
    font-family: bootstrap-icons;
    content: "\F153";
    color: $primary;
    font-size: 1.25rem;
  }
}
.chat-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  &::before {
    font-family: bootstrap-icons;
    content: "\F253";
    color: $primary;
  }
  &::after {
    font-family: bootstrap-icons;
    content: "\F25B";
    position: absolute;
    font-size: 0.83em;
    left: 0.37em;
    top: 0.27em;
    color: $primary;
    @include media-breakpoint-up(md) {
      top: 0.45em;
      left: 0.35em;
    }
  }
}
.participant-icon {
  &::before {
    font-family: bootstrap-icons;
    content: "\F4CF";
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: $primary;
  }
}
.list-marker {
  display: flex;
  align-items: center;

  &::before {
    font-family: 'bootstrap-icons';
    content: "\F231";
    font-size: 0.8rem;
    color: black;
  }
}

#nav-drawer {
  .icon {
    color: $primary;
  }
  .fa-home::before {
    font-family: "bootstrap-icons";
    content: "\F422";
  }
  .fa-tachometer::before {
    font-family: "bootstrap-icons";
    content: "\F57F";
  }
  .fa-graduation-cap::before {
    font-family: "bootstrap-icons";
    content: "\F545";
  }
  .fa-shield::before {
    font-family: "bootstrap-icons";
    content: "\F5E6";
  }
  .fa-users::before {
    font-family: "bootstrap-icons";
    content: "\F4CF";
  }
  .fa-trophy::before {
    font-family: "bootstrap-icons";
    content: "\F153";
  }
  .fa-newspaper-o::before {
    font-family: "bootstrap-icons";
    content: "\F4A3";
  }
  .fa-map-marker::before {
    font-family: "bootstrap-icons";
    content: "\F545";
  }
  .fa-comments {
    position: relative;
    &::before {
      font-family: bootstrap-icons;
      content: "\F253";
      color: $primary;
    }
    &::after {
      font-family: bootstrap-icons;
      content: "\F25B";
      position: absolute;
      font-size: 0.83em;
      left: 0.37em;
      top: 0.27em;
      color: $primary;
      @include media-breakpoint-up(md) {
        top: 0.45em;
        left: 0.35em;
      }
    }
  }
  .fa-folder::before {
    font-family: 'bootstrap-icons';
    content: "\F229";
  }
}

/* Overriding the default Arrows with bootstrap icons */
.arrow,
.rarrow,
.larrow,
.uarrow,
.darrow {
  font-family: "bootstrap-icons";
  font-size: 1.5rem;
}

.topicsOut {
  .section_action_menu {
    .fa-eye {
      &::before {
        font-family: "bootstrap-icons";
        content: " \F47A";
        margin-left: auto;
        margin-right: 0.5rem;
      }
    }
    .fa-eye-slash {
      &::before {
        font-family: "bootstrap-icons";
        content: " \F5FF";
        margin-left: auto;
        margin-right: 0.5rem;
      }
    }
  }
}