@mixin text-layout($color, $icon) {
  padding: 0 1rem 1rem 1rem;
  //width: fit-content;
  position: relative;
  border: 0.3rem solid $color;
  margin: 1rem 0;

  @include media-breakpoint-up(md) {
    //max-width: 25rem;
    //width: fit-content;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    hyphens: auto;
    line-height: 3rem;
  }
  p {
    //display: inline;
  }

  // p {
  //   padding-inline: 1rem;
  // }

  &::before {
    content: $icon;
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "bootstrap-icons";
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    margin-top: 0;
    background: $color;
    transform: translate(-1.25rem, -0.25rem);
  }

  // &::before {
  //   content: $icon;
  //   font-family: "bootstrap-icons";
  //   width: 3rem;
  //   height: 3rem;
  //   color: white;
  //   font-size: 1.7rem;
  //   top: -0.29rem;
  //   left: -0.29rem;
  //   padding-left: 0.65rem;
  //   padding-top: 0.3rem;
  //   position: absolute;
  //   background: $color;
  // }
}

//Hervorhebung Hinweis
.hint-box {
  @include text-layout(#86d9de, "\F332");
}
.info-box {
  @include text-layout(#6688a6, "\F430");
}
.link-box {
  @include text-layout(#d6cd7f, "\F471");
}
.important-box {
  @include text-layout(#d67e7a, "\F3CB");
}
.exercise-box {
  @include text-layout(#38946b, "\F4C9");
}

.custom-icon-box {
  @include text-layout(var(--color), var(--icon));
}
// .custom-icon-box {
//   margin: 1rem;
//   max-width: 20rem;
//   position: relative;
//   border: 0.3rem solid var(--color);

//   h2 {
//     padding-left: 3.5rem;
//     padding-top: 0.5rem;
//   }

//   p {
//     padding-inline: 1rem;
//   }
//   // &::before {
//   //   content: "";
//   //   font-family: 'bootstrap-icons';
//   //   font-size: 1.7rem;
//   //   width: 3rem;
//   //   height: 3rem;
//   //   background: var(--color);
//   //   color: white;
//   //   position: absolute;
//   //   padding-left: 0.65rem;
//   //   padding-top: 0.63rem;
//   //   top: -0.29rem;
//   //   left: -0.29rem;
//   // }
// }
