.course-content ul.topics li.section,
.course-content ul.weeks li.section {
  margin: 0;
  padding: 0.5rem 0;
}
.course-content .section-summary {
  border: none;
}

.topicsOut {
  //padding: 0;
  h2,
  h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #373a3c;
  }

  a {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .current {
    background: #ccd9df;
    border-radius: 2px;
    .content {
      align-items: center;
      display: flex;
      h3 {
        flex: 2;
      }
      a {
        flex: 1;
      }
    }

    &::before {
      content: "";
      border-left: none;
    }
  }
}
