.course-content ul.topics li.section,
.course-content ul.weeks li.section {
  margin: 0;
  padding: 0 0.5rem;
}
.course-content .section-summary .section-title {
  margin: 0;
}
.course-content .section-summary {
  border: none;
}
.course-content ul li.section.main {
  border-bottom: none;
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus {
  outline: 0;
  box-shadow: none;
}
.editing {
  .topicsOut {
    #section-1 {
      display: block !important;
      padding-left: 2rem;
    }
  }
}
.topicsOut {
  //padding-top: 1rem;
  border-radius: 0 0 2rem 2rem;

  .topics {
    #section-0 {
      display: none;
    }

  }
  .container-md {
    h2 {
      font-size: 1.5rem;
    }
  }
  //padding: 0;
  //h2,
  h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #373a3c;
  }

  li.section.hidden,
  .block.hidden,
  .block.invisible {
    display: flex;
  }

  .hidden:not(.sectiondraggable) {
    @extend .locked;
  }
  // li.section.hidden .sectionname > span {
  //   color: black;
  //   font-weight: 600;
  // }

  a.dimmed,
  a.dimmed:link,
  a.dimmed:visited,
  a.dimmed_text,
  a.dimmed_text:link,
  a.dimmed_text:visited,
  .dimmed_text,
  .dimmed_text a,
  .dimmed_text a:link,
  .dimmed_text a:visited,
  .usersuspended,
  .usersuspended a,
  .usersuspended a:link,
  .usersuspended a:visited,
  .dimmed_category,
  .dimmed_category a {
    // color: black;
    // font-weight: 600;
  }

  .sectiondraggable {
    display: block !important;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    //padding-left: 0.2rem;
    box-shadow: none;
    background-color: transparent;
    h3 {
      box-shadow: none;
      background-color: transparent;
    }
  }
  a:not([class]):focus {
    outline: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
  }
  .section {
    //min-height: 2.5rem;
    display: flex;
    align-items: center;
    h3 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .sectiondraggable {
    display: block;
  }
  .section .side {
    //margin-top: 0;
  }

  .chapter:first-of-type {
    border-top: none;
    &::before {
      border: none;
    }
  }
  .chapter {
    //height: 1.5rem;
    //border-top: $border-style;
    //padding: 0.5rem 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      height: 1px;
      width: 98%; /* or 100px */
      border-top: $border-style;
    }

    a {
      //height: 1.5rem;
      text-decoration: none;
      display: flex;
      //align-items: center;
      h3 {
        padding-left: 0.7rem;
      }
    }
    a[aria-expanded="true"] .list-marker {
      transform: rotate(90deg);
      transition: 0.3s ease-in-out;
    }
    a[aria-expanded="false"] .list-marker {
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }
  .chapter-content {
    padding-left: 1.5rem;
  }
  .lesson {
    padding: 0;
    display: flex;
    align-items: center;
    a {
      //text-decoration: underline;
    }
  }
  .completed {
    &::after {
      font-family: "bootstrap-icons";
      content: " \F26E";
      color: #7fb99f;
      margin-left: auto;
      //margin-right: 0.3rem;
      font-size: 2rem;
    }
  }
  .locked {
    .section-title {
      color: #6a737b;
      font-weight: 400;
    }
    &::after {
      font-family: "bootstrap-icons";
      content: " \F47A";
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }
  .completed.hidden {
    &::after {
      font-family: "bootstrap-icons";
      content: " \F47A";
      margin-left: auto;
      margin-right: 0.5rem;
      color: black;
      font-size: 1rem;
    }
  }
  .active {
    padding: 0.1rem;
    background-color: #ccd9df;
    border-radius: 0.125rem;
  }

  #changenumsections {
    text-align: center;
    border-top: $border-style;
    padding-top: 1rem;
  }
}
