/* All the typography */

body {
  font-family: "Roboto";
  font-size: 1rem;
  // @media (max-width: 350px) {
  //   font-size: 0.75rem;
  // }
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: bold;
}
h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 3.188rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.25rem;
}
// h3 {
//   font-size: 1.25rem;
//   font-weight: bold;
//   line-height: 1.875rem;
// }
a.caption{
  //text-decoration: underline;
}
.caption {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
  //text-transform: capitalize;
  a{
    //text-decoration: underline;
  }

  @include media-breakpoint-up(md) {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
.caption-sm {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
  //text-transform: capitalize;
  a{
    //text-decoration: underline;
  }
  @include media-breakpoint-up(md) {
    line-height: 1.5rem;
  }
}

.hyphens {
  hyphens: auto;
}

p {
  font-size: 1rem;
  a {
    color: $primary;
  }
}


a {
  color: $primary;
  //text-decoration: underline;
}
a:active {
  box-shadow: none !important;
}

.primary-link {
  font-size: 0.875rem;
  //text-decoration: underline;
  color: $primary;
  //color: #3582b1;
  line-height: 1.125rem;

  a {
    font-size: 0.75rem;
    //text-decoration: underline;
    color: $primary;
    //color: #3582b1;
    line-height: 1.125rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1rem;
    line-height: 1.5rem;

    a {
      font-size: 1rem;
      //text-decoration: underline;
      color: $primary;
      //color: #3582b1;
      line-height: 1.5rem;
    }
  }
}
.secondary-link {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: $primary;
  //color: #2182cf;
}
.no-badge-text,
.no-certificates-text,
.no-forums-text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 25px;
  color: $primary;
}
//Zwischenlösung
#map_id {
  height: 480px;
  width: 100% !important;
  overflow: hidden;
}

#nav-drawer {
  a {
    text-decoration: none;
  }
  font-size: 18px;
  a[data-key="coursehome"] {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    //height: 42px;
    padding: 0 1.25rem;
    .icon {
      display: none;
    }
  }
  .chapter,
  .section {
    font-size: 16px;
    line-height: 30px;
    a{
      //text-decoration: underline;
    }
  }
}
