@import "./typography";
@import "./buttons";
@import "./utilities";
@import "./hvp";
@import "./courseindex";
@import "./tablet";
@import "./modals";
@import "./text-highlighting";
@import "./text-highlighting-old";
@import "./accordions";

/*------------------------------------------------------------ GENERAL LAYOUT ------------------------------------------------------------ */
.pagelayout-incourse {
  #topofscroll {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  #page-header {
    max-width: none;
  }
}

.format-mooin4.pagelayout-course {
  #page-content {
    height: 100%;
  }
  #region-main-box {
    height: 100%;
  }
  #region-main {
    height: 100%;
  }
  .subpage {
    height: 100%;
  }
  #page-content {
    height: 100%;
  }
  #page {
   /* height: 100%; */
  }
  div[role="main"] {
    height: 100%;
  }

  #page {
    background-color: $background-color;
  }
  #topofscroll {
    min-height: 100vh;
    padding-top: 0;
  }
  #page.drawers {
    padding-left: 0;
    padding-right: 0;
  }
  #page.drawers div[role="main"] {
    padding-left: 0;
    padding-right: 0;
  }
  #page.drawers .main-inner {
    background-color: $background-color;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
  }

  #region-main {
    background-color: $background-color;
  }

  .secondary-navigation {
    padding-bottom: 0;
  }

  .mooin4 {
    padding-left: 0;
    margin-bottom: 0;
  }
  .coursefrontpagelayout {
    #section-0 {
      //display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    #theme_boost-drawers-courseindex {
      position: fixed;
      z-index: 1050;
    }
    #page {
      margin-left: 0;
    }
  }

  // /* Moodle 4 Courseindex */
  // .courseindex-section[data-number="0"] {
  //   display: none;
  // }
  // #courseindexsection0 {
  //   display: none !important;
  // }
  nav.moremenu.navigation {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.courseindex-section[data-number="0"] {
  display: none;
}

/*------------------------------------------------------------ COURSEFRONTPAGE ------------------------------------------------------------ */
body.limitedwidth #page.drawers.coursefrontpagelayout .main-inner {
  max-width: 1224px;
}
.coursefrontpage {
  background-color: $background-color;
  display: flex;

  gap: 1.875rem;

  @include media-breakpoint-up(sm) {
    //margin-top: 1.875rem;
  }

  &__main {
    background-color: #fff;
    width: 800px;
    border-radius: $boder-radius;
    //margin: 0 auto;
    padding-bottom: 1rem;
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }
  }

  &__header {
    overflow: hidden;
    max-width: 50rem;
    height: 100vw;
    position: sticky;
    top: 0px;
    text-align: center;

    .mooin4-btn {
      width: 100%;
      .bi {
        font-size: 1.25rem;
      }
    }

    .edit-header-img {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    @include media-breakpoint-up(sm) {
      border-radius: $boder-radius $boder-radius 0 0;
      height: auto;
      max-height: 300px;
      aspect-ratio: 800/280;
      position: relative;
      top: unset;
    }

    .desktop-placeholder {
      background-image: url([[pix:theme|./header_placeholder_desktop]]);
    }
    .mobile-placeholder {
      background-image: url([[pix:theme|./header_placeholder_mobile]]);
    }

    .header-image,
    .desktop-placeholder,
    .mobile-placeholder {
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      @include media-breakpoint-up(sm) {
        aspect-ratio: 2.8571428571;
      }
    }
    .title-overlay {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.73);
      //height: 13em;
      height: auto;
      padding: 1rem;
      transition: opacity 0.5s;

      @include media-breakpoint-up(sm) {
        transform: none;
        top: unset;
        bottom: 0;
        height: auto;
        border-radius: 1.875rem 1.875rem 0 0;
        padding: 0.5rem 0;
        p {
          margin: 0;
        }
        h2 {
          padding: 0.5rem 1rem;
          margin: 0;
        }
      }
    }
    .title-overlay.fade-out {
      opacity: 0;
      @include media-breakpoint-up(sm) {
        opacity: 1;
      }
    }
  }

  .mobile-bg {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 2rem 2rem 0 0;
    transform: translateY(-3rem);
    padding-top: 0.5rem;
    margin-bottom: -3rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      border-radius: 0;
      transform: none;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &__news-section {
    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }
    .news-mobile {
      .news-title {
        font-weight: 500;
      }
      .bi {
        font-size: 1.5rem;
        color: $primary;
      }
    }
    .news-post-preview {
      p {
        margin-bottom: 0;
      }
    }
    .notification-badge--mobile {
      right: 0.25rem;
    }
  }
  &__course-progress {
    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }

    .course-progress-inner {
      height: 2.3125rem;
      gap: 1rem;

      .bi {
        font-size: 1.25rem;
      }

      @include media-breakpoint-down(md) {
        gap: 30px;
        .mooin4-btn--primary {
          padding: 0;
        }
      }
      @include media-breakpoint-down(xs) {
        gap: 1rem;
      }
    }

    .progress-container {
      flex: 1;
      @include media-breakpoint-up(lg) {
        flex: 2;
      }
    }

    a {
      flex: 1;
      white-space: nowrap;
    }
  }

  &__course-table {
    .section-summary {
      border: none;
      margin: 0;
    }

    .sectionname {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        align-items: start;
      }

      i {
        margin-right: 0.5rem;
      }
      //font-weight: normal;
    }

    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }
    margin-bottom: 0;

    h3 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0;
    }
    li {
      padding-top: 0;
      padding-bottom: 0;
    }

    a {
      font-size: 1rem;
      font-weight: 400;
      color: #004161;
    }

    .section:not(.chapter) {
      .course-section-header {
        padding-left: 1.3rem;
      }
    }

    .chapter {
      .sectionname {
        a {
          color: #373a3c;
          font-weight: 600;
          height: 100%;
          &:hover {
            text-decoration: none;
          }
        }
        .chapternumber {
          white-space: nowrap;
          align-self: start;
        }
      }
    }
    a:not(.collapsed) {
      .bi-caret-right-fill {
        display: inline-block;
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;
      }
    }
    a.collapsed {
      .bi-caret-right-fill {
        display: inline-block;
        transform: rotate(0deg);
        transition: 0.3s ease-in-out;
      }
    }

    .active {
      background-color: #ccd9df;
      border-radius: 0.125rem;
    }

    .sectionbadges {
      margin-left: auto;
    }

    ul.section.img-text {
      display: none;
    }
  }

  &__side {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }

  &__badges-certificates,
  &__community {
    padding: $frontpage-padding-side;
    background-color: #fff;
    //min-height: 300px;
    border-radius: $boder-radius;

    p {
      margin: 0;
    }
  }

  &__badges-certificates {
    .badges-container {
      margin-bottom: 1rem;
      .no-badges-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      .no-badges-img {
        flex: 1;
        height: 10rem;
        background-image: url([[pix:theme|no_badges]]);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .blue-info-text {
        flex: 1;
      }
      li:nth-child(n + 4) {
        display: none;
      }
    }
    .certificates-container {
      .certificate_list {
        width: 100%;
        display: flex;
        //justify-content: space-evenly;
        margin-top: 1rem;
        a:nth-child(n + 4),
        span:nth-child(n + 4) {
          display: none;
        }
        .certificate-img {
          hyphens: auto;
          text-align: center;
          width: 33.3%;
          display: flex;
          flex-direction: column;
          &::before {
            content: "";
            // width: 100px;
            height: 100px;
            background-image: url([[pix:theme|certificate_icon]]);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        span.certificate-img {
          opacity: 0.2;
        }
      }
      .no-certificates-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .no-certificates-img {
          flex: 1;
          height: 10rem;
          background-image: url([[pix:theme|no_certificates]]);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .blue-info-text {
          flex: 1;
        }
      }
    }
  }
  &__community {
    .discussion-preview {
      margin-bottom: 1rem;
    }
  }

  .mobile-tiles {
    margin: 1.5rem 1rem;
    .bi {
      font-size: 1.25rem;
    }
  }
  .badges-certificates-mobile {
    gap: 1rem;
    a {
      flex: 1;
      &:hover {
        color: $primary;
      }
    }
    .notification-badge--mobile {
      right: 0;
      top: -5px;
    }
  }

  .unenrol-btn {
    margin-left: 3rem;
    &:hover {
      text-decoration: none;
    }
    @include media-breakpoint-down(sm) {
      color: black;
      background: #b8c1ca;
      margin: 0 auto;
      text-transform: uppercase;
      border: none;
      box-shadow: none;
      display: flex;
      gap: 0.5rem;
      margin: 1rem;
      border-radius: 8px;
      font-size: 0.75rem;
      font-weight: 500;
      display: flex;
  align-items: center;
  justify-content: center;


      &::after {
      font-family: "bootstrap-icons";
      content: "\F1C3";
      padding-left: 0.5rem;
      font-size: 1.5rem;
    }
    }
  }
}

/*------------------------------------------------------------ SECTION LAYOUT ------------------------------------------------------------ */

.editing {
  #section-0 {
    padding-top: 2rem;
    margin: 0 30px;
  }
}

#section-0 {
    .section-item   {
        border-color: red;
    }
}

.course-content {
  background-color: white;
  height: 100%;
}

.single-section .mooin4 {
  margin: 0rem 1rem;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    margin: 0rem 8.125rem;
  }
}
#mooin4-breadcrumb-container {
  margin: 0 1rem;
  transition: 0.2s ease-in-out;
  @include media-breakpoint-up(md) {
    margin: 0 8.125rem;
  }

  .breadcrumb {
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding: 0.5rem 0;
    }
  }
}
.course-content .single-section {
  margin-top: 0;
}
.course-content .single-section .section-navigation {
  padding: 0;
  margin-bottom: 0;
  //transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out
}
.scroll-down {
  .course-content .single-section .section-navigation {
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
  }
}

.navigation-wrapper {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

  .progress-container {
    margin: 0rem 1rem;
    @include media-breakpoint-up(md) {
      margin: 0 130px;
    }

    .progress-text {
      font-size: 0.75rem;
    }
  }
}
.navigationtitle {
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
  @include media-breakpoint-up(md) {
    margin: 0 4rem;
  }

  .prevsection {
    width: 48px;
    transform: translateX(-0.4rem);
  }
  .nextsection {
    width: 48px;
    transform: translateX(0.7rem);
  }

  .larrow,
  .rarrow {
    font-size: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }

  h3.sectionname {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    hyphens: auto;
    clear: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    @include media-breakpoint-up(md) {
      text-align: left;
      width: 740px;
      margin: 0 1rem;
    }
  }
}
.section .label .contentwithoutlink {
  padding-right: 0;
}
.course-content .single-section .mdl-bottom {
  margin: 2rem 4rem 1rem 4rem;
  padding-bottom: 2rem;

  .prevsection,
  .nextsection {
    white-space: nowrap;
    width: 160px;
    @include media-breakpoint-down(sm) {
      flex: 1;
    }
  }

  .larrow,
  .rarrow {
    line-height: 0;
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    gap: 1rem;
    margin: 1rem;
  }
  @include media-breakpoint-down(xs) {
    gap: 0.5rem;
    margin: 1rem;
    a {
      font-size: 0.75rem;
      white-space: nowrap;
      padding: 0 0.3rem;
    }
  }
}

.scroll-up {
  transform: none;
  transition: 0.2s ease-in-out;

  #mooin4-breadcrumb-container {
    transform: none;
  }

  .navigationtitle {
    transform: none;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .progress-container {
    margin-top: 0rem;
    transition: margin 0.2s;
    opacity: 1;

    @media (max-height: 600px), screen and (orientation: portrait) {
      transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
}

.scroll-down {
  transition: 0.2s ease-in-out;

  #mooin4-breadcrumb-container {
    position: relative;
  }

  .navigationtitle {
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
  }

  .progress-container {
    margin-top: 1rem;
    transition: margin 0.2s;

    @media (max-height: 600px) {
      opacity: 0;
    }
  }
}

.activity-item.activityinline {
  padding: 0;
}

/*------------------------------------------------------------ SUBPAGES ------------------------------------------------------------ */
#page-course-format-mooin4-badges,
#page-course-format-mooin4-certificates,
#page-course-format-mooin4-all_discussionforums {
  #page {
    flex: 1 0 auto;
  }
  .mooin4-breadcrumb-container {
    position: sticky;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    .breadcrumb {
      margin: 0 1rem;
      padding: 0;
      @include media-breakpoint-up(md) {
        margin: 0 130px !important;
      }
    }
    nav {
      padding: 0;
      @include media-breakpoint-up(md) {
        padding: 0.25rem 0;
      }
    }
    .breadcrumb-item {
      white-space: nowrap;
    }
    .breadcrumb-item {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media-breakpoint-down(md) {
        max-width: calc(100vw - 200px);
      }
    }
  }
  .subpage {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;

    &--badges {
      margin: 1rem;
      padding-bottom: 2rem;
      .badges-list {
        img {
          width: 7rem;
          height: 7rem;
        }
        li {
          width: 50%;
          @include media-breakpoint-up(md) {
            width: 33.3%;
          }
          @include media-breakpoint-up(lg) {
            width: 25%;
          }
        }
      }

      .no-badges-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      .no-badges-img {
        width: 200px;
        height: 10rem;
        background-image: url([[pix:theme|no_badges]]);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .blue-info-text {
        //flex: 1;
      }

      @include media-breakpoint-up(md) {
        margin: 1rem 130px;
      }
    }
    &--certificates {
      margin: 1rem;
      padding-bottom: 2rem;

      .certificate_list {
        display: flex;
        flex-wrap: wrap;

        .certificate-img {
          width: 50%;
          @include media-breakpoint-up(md) {
            width: 33.3%;
          }
          @include media-breakpoint-up(lg) {
            width: 25%;
          }
        }
        span.certificate-img {
          opacity: 0.2;
        }
      }

      .certificate-img {
        hyphens: auto;
        text-align: center;
        //width: 33.3%;
        display: flex;
        flex-direction: column;
        &::before {
          content: "";
          // width: 100px;
          height: 100px;
          background-image: url([[pix:theme|certificate_icon]]);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .no-certificates-container {
        margin-top: 1rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .no-certificates-img {
          width: 200px;
          height: 10rem;
          background-image: url([[pix:theme|no_certificates]]);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .blue-info-text {
          //flex: 1;
        }
      }

      @include media-breakpoint-up(md) {
        margin: 1rem 130px;
      }
    }
    &--discussions {
      margin: 1rem;
      @include media-breakpoint-up(md) {
        margin: 1rem 130px;
      }
      ul {
        padding-left: 0;
        margin-bottom: 0;
      }
      li {
        list-style: none;
      }
      .no-forums-img {
        background-image: url([[pix:theme|no_forum]]);
        width: 15rem;
        height: 10rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .blue-info-text {
        width: 100px;
      }
      .unread-btn-mobile {
        border: 1px solid $primary;
        border-radius: 0.4rem;
        padding: 0 0.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        &::after {
          font-family: "bootstrap-icons";
          content: "\F32E";
          font-size: 1.5rem;
          color: $primary;
        }
      }
    }
    .border-card {
      padding: 0.5rem;
      border: 1px solid #e7e7e7;
      border-radius: 0.25rem;
      @include media-breakpoint-down(xs) {
        border: none;
      }
    }
  }
}

//Participants is still rendered without template so it needs extra scss
#page-course-format-mooin4-participants {
  .sticky-container {
    position: sticky;
    z-index: 550;
    top: 0px;
    margin: 0 auto;
    padding: 0 0rem;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
  #mooin4-breadcrumb-container {
    padding: 0.25rem 0;
    .breadcrumb {
      padding: 0;
      margin: 0 !important;
    }
  }

  .mooin4-subpage-bg {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 0 1rem;
    @include media-breakpoint-up(md) {
      padding: 1rem 130px;
    }
  }

  #map_id {
    height: 480px;
    width: 100% !important;
    overflow: hidden;
  }
  .leaflet-top,
  .leaflet-bottom {
    z-index: 500;
  }
}

//Newsforum
.format-mooin4.forumtype-news {
  #page {
    background: #f8f8f8;
  }
  #topofscroll {
    max-width: 1000px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  #page-header {
    max-width: 1000px;
    padding-bottom: 0.5rem;
  }
  #page-content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .moremenu {
    margin: 0;
  }
}

/*------------------------------------------------------------ SUBPAGES ------------------------------------------------------------ */

.activity {
    border-top: 0px solid #dee2e6;
}