@import "./typography";
@import "./buttons";
@import "./text-layouts";
@import "./icons";

body {
  background-color: #eeeeee;
}
#region-main {
  background-color: #eeeeee;
  //display: none;
}
#region-main-box {
  padding: 0;
}
.navmenu {
  display: none !important;
}

.course-content {
  background-color: #eeeeee;
}

.wrapper {
  @extend .d-md-flex;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1.5rem;

  p {
    margin: 0;
  }
  .main-container {
    background-color: white;
    max-width: 50rem;
    padding: 0 1rem;
    @include media-breakpoint-up(md) {
      border-radius: 0.625rem;
      padding: 0 2rem;
    }
  }
  .side-right {
    @extend .float-md-right;
    max-width: 25rem;

    .container {
      padding: 1rem;
    }
  }
  .course-title-header {
    text-align: center;
  }
}
.container {
  padding: 1.5rem 0rem;
}
.news {
  border-bottom: 1px solid #e7e7e7;
  @include media-breakpoint-up(md) {
    border-bottom: none;
  }
}
.news-card {
  padding: 0.5rem;
  @include media-breakpoint-up(md) {
    border: 1px solid #e7e7e7;
    border-radius: 0.25rem;
  }
  .news-card-inner {
    padding-left: 2rem;
  }
}
.course-progress {
  border-bottom: 1px solid #e7e7e7;
  @include media-breakpoint-up(md) {
    border-top: 1px solid #e7e7e7;
  }
}
.badges-mobile-btn {
  border-bottom: 1px solid #e7e7e7;
}
.comunity-mobile-btn {
  border-bottom: 1px solid #e7e7e7;
}
.badges {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  .badges-card {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 0.25rem;
  }
  .certificate-card {
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 0.25rem;
  }
}

.community {
  background-color: white;
  border-radius: 0.5rem;
}
.forum-card {
  padding: 1rem 0;
}
.forum-card-inner {
  padding: 0.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.25rem;
}
.participant-card-inner {
  padding: 0.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.25rem;
}

.even-columns {
  display: flex;
  gap: 1rem;
  align-items: center;
  //justify-content: space-between;
}
.even-columns > * {
  flex: 1;
}
