@import "./typography";
@import "./buttons";
@import "./utilities";
@import "./hvp";
@import "./courseindex";
@import "./tablet";
@import "./modals";

/*------------------------------------------------------------ GENERAL LAYOUT ------------------------------------------------------------ */
.format-moointopics.pagelayout-course {
  #page {
    background-color: $background-color;
  }
  #topofscroll {
    padding-top: 0;
  }
  #page.drawers {
    padding-left: 0;
    padding-right: 0;
  }
  #page.drawers div[role="main"] {
    padding-left: 0;
    padding-right: 0;
  }
  #page.drawers .main-inner {
    background-color: $background-color;
    margin-top: 0;
    padding: 0;
  }

  #region-main {
    background-color: $background-color;
  }

  .secondary-navigation {
    padding-bottom: 0;
  }

  .moointopics {
    padding-left: 0;
    margin-bottom: 0;
  }
  .coursefrontpagelayout {
    #section-0 {
      display: none;
    }
  }

  // /* Moodle 4 Courseindex */
  // .courseindex-section[data-number="0"] {
  //   display: none;
  // }
  // #courseindexsection0 {
  //   display: none !important;
  // }
  nav.moremenu.navigation {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.courseindex-section[data-number="0"] {
  display: none;
}

/*------------------------------------------------------------ COURSEFRONTPAGE ------------------------------------------------------------ */
body.limitedwidth #page.drawers.coursefrontpagelayout .main-inner {
  max-width: 1224px;
}
.coursefrontpage {
  background-color: $background-color;
  display: flex;

  gap: 1.875rem;

  @include media-breakpoint-up(sm) {
    margin-top: 1.875rem;
  }

  &__main {
    background-color: #fff;
    width: 800px;
    border-radius: $boder-radius;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  &__header {
    overflow: hidden;
    max-width: 50rem;
    height: 100vw;
    position: sticky;
    top: 0px;
    text-align: center;

    .moointopics-btn {
      width: 100%;
      .bi {
        font-size: 1.25rem;
      }
    }

    @include media-breakpoint-up(sm) {
      border-radius: $boder-radius $boder-radius 0 0;
      height: auto;
      max-height: 300px;
      aspect-ratio: 800/280;
      position: relative;
      top: unset;
    }

    .desktop-placeholder {
      background-image: url([[pix:theme|./header_placeholder_desktop]]);
    }
    .mobile-placeholder {
      background-image: url([[pix:theme|./header_placeholder_mobile]]);
    }

    .header-image,
    .desktop-placeholder,
    .mobile-placeholder {
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      @include media-breakpoint-up(sm) {
        aspect-ratio: 2.8571428571;
      }
    }
    .title-overlay {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.73);
      height: 13em;
      padding: 1rem;
      transition: opacity 0.5s;

      @include media-breakpoint-up(sm) {
        transform: none;
        top: unset;
        bottom: 0;
        height: auto;
        border-radius: 1.875rem 1.875rem 0 0;
        padding: 0.5rem 0;
        p {
          margin: 0;
        }
        h2 {
          padding: 0.5rem 1rem;
          margin: 0;
        }
      }
    }
    .title-overlay.fade-out {
      opacity: 0;
      @include media-breakpoint-up(sm) {
        opacity: 1;
      }
    }
  }

  .mobile-bg {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 2rem 2rem 0 0;
    transform: translateY(-3rem);
    padding-top: 0.5rem;
    margin-bottom: -3rem;

    @include media-breakpoint-up(sm) {
      border-radius: 0;
      transform: none;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &__news-section {
    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }
    .news-mobile {
      .news-title {
        font-weight: 500;
      }
      .bi {
        font-size: 1.5rem;
        color: $primary;
      }
    }
  }
  &__course-progress {
    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }

    .course-progress-inner {
      height: 2.3125rem;
      gap: 1rem;

      .bi {
        font-size: 1.25rem;
      }
    }

    .progress-container {
      flex: 1;
      @include media-breakpoint-up(lg) {
        flex: 2;
      }
    }

    a {
      flex: 1;
    }
  }

  &__course-table {
    .section-summary {
      border: none;
      margin: 0;
    }

    .sectionname {
      display: flex;
      justify-content: center;
      align-items: center;
      //font-weight: normal;
    }

    margin: 1.5rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: $frontpage-margin-main;
    }
    margin-bottom: 0;

    h3 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0;
    }
    li {
      padding-top: 0;
      padding-bottom: 0;
    }

    a {
      font-size: 1rem;
      font-weight: 400;
      color: #004161;
    }

    .section:not(.chapter) {
      .course-section-header {
        padding-left: 1.3rem;
      }
    }

    .chapter {
      .sectionname {
        a {
          color: #373a3c;
          font-weight: 600;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    a:not(.collapsed) {
      .bi-caret-right-fill {
        display: inline-block;
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;
      }
    }
    a.collapsed {
      .bi-caret-right-fill {
        display: inline-block;
        transform: rotate(0deg);
        transition: 0.3s ease-in-out;
      }
    }

    .active {
      background-color: #ccd9df;
      border-radius: 0.125rem;
    }

    .sectionbadges {
      margin-left: auto;
    }

    ul.section.img-text {
      display: none;
    }

    

  }

  &__side {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__badges-certificates,
  &__community {
    padding: $frontpage-padding-side;
    background-color: #fff;
    min-height: 300px;
    border-radius: $boder-radius;

    p {
      margin: 0;
    }
  }

  &__badges-certificates {
    .badges-container {
      margin-bottom: 1rem;
      li:nth-child(n + 4) {
        display: none;
      }
    }
    .certificates-container {
      .certificat_list {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        a:nth-child(n + 4),
          span:nth-child(n + 4) {
            display: none;
          }
        .certificate-img {
          hyphens: auto;
          text-align: center;
          width: 33.3%;
          display: flex;
          flex-direction: column;
          &::before {
            content: "";
            // width: 100px;
             height: 100px;
            background-image: url([[pix:theme|certificate_icon]]);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        span.certificate-img {
          opacity: 0.2;
        }
      }
    }
  }
  &__community {
    .discussion-preview {
      margin-bottom: 1rem;
    }
  }

  .mobile-tiles {
    margin: 1.5rem 1rem;
    .bi {
      font-size: 1.25rem;
    }
  }
  .badges-certificates-mobile {
    gap: 1rem;
    a {
      flex: 1;
      &:hover {
        color: $primary;
      }
    }
  }
}

/*------------------------------------------------------------ SECTION LAYOUT ------------------------------------------------------------ */

.editing {
  #section-0 {
    padding-top: 2rem;
    margin: 0 130px;
  }
}

.course-content {
  background-color: white;
}

.single-section .moointopics {
  margin: 1.25rem 1rem;
  margin-bottom: 0;
  @include media-breakpoint-up(sm) {
    margin: 1.25rem 8.125rem;
  }
}
#moointopics-breadcrumb-container {
  margin-left: 1rem;
  transition: 0.2s ease-in-out;
  @include media-breakpoint-up(sm) {
    margin: 0 8rem;
  }

  .breadcrumb {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      padding: 0;
    }
  }
}
.course-content .single-section {
  margin-top: 0;
}
.course-content .single-section .section-navigation {
  padding: 0;
  margin-bottom: 0;
  //transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out
}
.scroll-down {
  .course-content .single-section .section-navigation {
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
  }
}

.navigation-wrapper {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

  .progress-container {
    margin: 1rem 1rem;
    @include media-breakpoint-up(sm) {
      margin: 0 130px;
    }

    .progress-text {
      font-size: 0.75rem;
    }
  }
}
.navigationtitle {
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
  @include media-breakpoint-up(sm) {
    margin: 0 4rem;
  }

  .prevsection {
    width: 48px;
    transform: translateX(-0.625rem);
  }
  .nextsection {
    width: 48px;
    transform: translateX(0.625rem);
  }

  .larrow,
  .rarrow {
    font-size: 2rem;
    @include media-breakpoint-up(sm) {
      font-size: 3rem;
    }
  }

  h3.sectionname {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
   

    @include media-breakpoint-up(sm) {
      text-align: left;
      width: 740px;
    }
  }
}
.section .label .contentwithoutlink {
  padding-right: 0;
}
.course-content .single-section .mdl-bottom {
  margin: 1rem 4rem;
  padding-bottom: 2rem;
  .larrow,
  .rarrow {
    line-height: 0;
    font-size: 1.5rem;
  }
}

.scroll-up {
  transform: none;
  transition: 0.2s ease-in-out;

  #mooin4-breadcrumb-container {
    transform: none;
  }

  .navigationtitle {
    transform: none;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .progress-container {
    margin-top: 0rem;
    transition: margin 0.2s;
    opacity: 1;

    @media (max-height: 600px), screen and (orientation: portrait) {
      transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
}

.scroll-down {
  transition: 0.2s ease-in-out;

  #mooin4-breadcrumb-container {
    position: relative;
  }

  .navigationtitle {
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
  }

  .progress-container {
    margin-top: 1rem;
    transition: margin 0.2s;

    @media (max-height: 600px) {
      opacity: 0;
    }
  }
}

/*------------------------------------------------------------ SUBPAGES ------------------------------------------------------------ */
#page-course-format-moointopics-badges,
#page-course-format-moointopics-certificate,
#page-course-format-moointopics-all_discussionforums {
  .moointopics-breadcrumb-container {
    position: sticky;
    top: 0;
    margin-left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    .breadcrumb {
      margin: 0 130px;
      padding: 0;
    }
    nav {
      padding: 0.25rem 0;
    }
  }
  .subpage {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    &--badges {
      margin: 1rem 130px;
      padding-bottom: 2rem;
      .badges-list {
        img {
          width: 7rem;
          height: 7rem;
        }
      }
    }
    &--discussions {
      margin: 1rem 130px;
      ul {
        padding-left: 0;
        margin-bottom: 0;
      }
      li {
        list-style: none;
      }
    }
    .border-card {
      padding: 0.5rem;
      border: 1px solid #e7e7e7;
      border-radius: 0.25rem;
    }
  }
}
